In [6]:
import numpy as np 
import pandas as pd

In [7]:
t = (1,2,3,4)
t[1:3]

(2, 3)

In [8]:
dictionary = {"name":["ali","veli","zübeyde","ahmet","kubra","can"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}
dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [9]:
df = pd.read_csv(r"/Users/osamavalit/Documents/Computer engenering /Inroduction to Machine Learning/Lab_HW/Week 2/data.csv")
print(df)

           id diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  \
0      842302         M        17.99         10.38          122.80     1001.0
1      842517         M        20.57         17.77          132.90     1326.0
2    84300903         M        19.69         21.25          130.00     1203.0
3    84348301         M        11.42         20.38           77.58      386.1
4    84358402         M        20.29         14.34          135.10     1297.0
..        ...       ...          ...           ...             ...        ...
564    926424         M        21.56         22.39          142.00     1479.0
565    926682         M        20.13         28.25          131.20     1261.0
566    926954         M        16.60         28.08          108.30      858.1
567    927241         M        20.60         29.33          140.10     1265.0
568     92751         B         7.76         24.54           47.92      181.0

     smoothness_mean  compactness_mean  concavity_mean  concave points_mean  \
0            0.11840           0.27760         0.30010              0.14710
1            0.08474           0.07864         0.08690              0.07017
2            0.10960           0.15990         0.19740              0.12790
3            0.14250           0.28390         0.24140              0.10520
4            0.10030           0.13280         0.19800              0.10430
..               ...               ...             ...                  ...
564          0.11100           0.11590         0.24390              0.13890
565          0.09780           0.10340         0.14400              0.09791
566          0.08455           0.10230         0.09251              0.05302
567          0.11780           0.27700         0.35140              0.15200
568          0.05263           0.04362         0.00000              0.00000

     ...  texture_worst  perimeter_worst  area_worst  smoothness_worst  \
0    ...          17.33           184.60      2019.0           0.16220
1    ...          23.41           158.80      1956.0           0.12380
2    ...          25.53           152.50      1709.0           0.14440
3    ...          26.50            98.87       567.7           0.20980
4    ...          16.67           152.20      1575.0           0.13740
..   ...            ...              ...         ...               ...
564  ...          26.40           166.10      2027.0           0.14100
565  ...          38.25           155.00      1731.0           0.11660
566  ...          34.12           126.70      1124.0           0.11390
567  ...          39.42           184.60      1821.0           0.16500
568  ...          30.37            59.16       268.6           0.08996

     compactness_worst  concavity_worst  concave points_worst  symmetry_worst  \
0              0.66560           0.7119                0.2654          0.4601
1              0.18660           0.2416                0.1860          0.2750
2              0.42450           0.4504                0.2430          0.3613
3              0.86630           0.6869                0.2575          0.6638
4              0.20500           0.4000                0.1625          0.2364
..                 ...              ...                   ...             ...
564            0.21130           0.4107                0.2216          0.2060
565            0.19220           0.3215                0.1628          0.2572
566            0.30940           0.3403                0.1418          0.2218
567            0.86810           0.9387                0.2650          0.4087
568            0.06444           0.0000                0.0000          0.2871

     fractal_dimension_worst  Unnamed: 32
0                    0.11890          NaN
1                    0.08902          NaN
2                    0.08758          NaN
3                    0.17300          NaN
4                    0.07678          NaN
..                       ...          ...
564                  0.07115          NaN
565                  0.06637          NaN
566                  0.07820          NaN
567                  0.12400          NaN
568                  0.07039          NaN

[569 rows x 33 columns]

In [10]:
head = dataframe1.head() 
print(head)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN

In [11]:
tail = dataframe1.tail()
print(tail)

      name   age     note
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [12]:
print(dataframe1.columns)

Index(['name', 'age', 'note'], dtype='object')

In [13]:
print(dataframe1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   note    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 276.0+ bytes
None

In [14]:
print(dataframe1.dtypes)

name     object
age     float64
note    float64
dtype: object

In [15]:
print(dataframe1.describe())

             age         note
count   5.000000      5.00000
mean   38.400000  17680.00000
std    28.684491  39116.96814
min    12.000000     78.00000
25%    12.000000     89.00000
50%    34.000000    123.00000
75%    56.000000    456.00000
max    78.000000  87654.00000

In [16]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])            
dataframe1["new_future"] = [1,2,3,4,5,6] 
print(dataframe1.loc[:3,"age"])
print(dataframe1.loc[:3, "name":"note"])
print(dataframe1.loc[::-1])

0        ali
1       veli
2    zübeyde
3      ahmet
4      kubra
5        can
Name: name, dtype: object
0    12.0
1    34.0
2    56.0
3    78.0
4     NaN
5    12.0
Name: age, dtype: float64
0    12.0
1    34.0
2    56.0
3    78.0
Name: age, dtype: float64
      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
      name   age     note  new_future
5      can  12.0     89.0           6
4    kubra   NaN      NaN           5
3    ahmet  78.0  87654.0           4
2  zübeyde  56.0     78.0           3
1     veli  34.0    456.0           2
0      ali  12.0    123.0           1

In [17]:
print(dataframe1.loc[:, "new_feature"])

KeyError: 'new_feature'

In [ ]:
print(dataframe1.loc[:3, ["name","note"]])

In [ ]:
print(dataframe1.loc[:,:"age"])

In [ ]:
print(dataframe1.iloc[:,[2]])

In [ ]:
filtre1 = dataframe1.age>10
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])

In [ ]:
type(filtre1)

In [ ]:
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

In [ ]:
filtre2 = dataframe1.note>100
filtrelenmis_data2 = dataframe1[filtre2&filtre1] 
print(filtrelenmis_data2)

In [18]:
dataframe1[dataframe1.age>20]

      name   age     note  new_future
1     veli  34.0    456.0           2
2  zübeyde  56.0     78.0           3
3    ahmet  78.0  87654.0           4

In [19]:
mean1 = dataframe1.note.mean()
print(mean1)
mean_np= np.mean(dataframe1.note) 
print(mean_np)

17680.0
17680.0

In [20]:
dataframe1.dropna(inplace=True) 
dataframe1

      name   age     note  new_future
0      ali  12.0    123.0           1
1     veli  34.0    456.0           2
2  zübeyde  56.0     78.0           3
3    ahmet  78.0  87654.0           4
5      can  12.0     89.0           6

In [21]:
print(dataframe1.note.mean())
dataframe1["mean"]= ["bad" if dataframe1.note.mean()>each else "good" for each in dataframe1.note]
dataframe1

17680.0

      name   age     note  new_future  mean
0      ali  12.0    123.0           1   bad
1     veli  34.0    456.0           2   bad
2  zübeyde  56.0     78.0           3   bad
3    ahmet  78.0  87654.0           4  good
5      can  12.0     89.0           6   bad

In [22]:
dataframe1.columns = [each.upper() for each in dataframe1.columns] 

dataframe1.columns

Index(['NAME', 'AGE', 'NOTE', 'NEW_FUTURE', 'MEAN'], dtype='object')

In [23]:
dataframe1.drop(["NEW_FUTURE"],axis=1,inplace=True)
dataframe1

      NAME   AGE     NOTE  MEAN
0      ali  12.0    123.0   bad
1     veli  34.0    456.0   bad
2  zübeyde  56.0     78.0   bad
3    ahmet  78.0  87654.0  good
5      can  12.0     89.0   bad

In [24]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

      NAME   AGE     NOTE  MEAN
0      ali  12.0    123.0   bad
1     veli  34.0    456.0   bad
2  zübeyde  56.0     78.0   bad
3    ahmet  78.0  87654.0  good
5      can  12.0     89.0   bad
0      ali  12.0    123.0   bad
1     veli  34.0    456.0   bad
2  zübeyde  56.0     78.0   bad
3    ahmet  78.0  87654.0  good
5      can  12.0     89.0   bad

In [25]:
data_contact2 = pd.concat([data1,data2],axis=1)
data_contact2

      NAME   AGE     NOTE  MEAN     NAME   AGE     NOTE  MEAN
0      ali  12.0    123.0   bad      ali  12.0    123.0   bad
1     veli  34.0    456.0   bad     veli  34.0    456.0   bad
2  zübeyde  56.0     78.0   bad  zübeyde  56.0     78.0   bad
3    ahmet  78.0  87654.0  good    ahmet  78.0  87654.0  good
5      can  12.0     89.0   bad      can  12.0     89.0   bad

In [26]:
dataframe1["new_age"] = [each*2 for each in dataframe1.AGE]
dataframe1

      NAME   AGE     NOTE  MEAN  new_age
0      ali  12.0    123.0   bad     24.0
1     veli  34.0    456.0   bad     68.0
2  zübeyde  56.0     78.0   bad    112.0
3    ahmet  78.0  87654.0  good    156.0
5      can  12.0     89.0   bad     24.0